################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API/.vs/API/v16
/API/API/obj
/API/API/bin/Debug/netcoreapp3.0
/API/.vs/API
/API/API/Controllers/Users1Controller.cs
